@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

body {
  background: rgb(255, 255, 255);
  font-family: "Raleway",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  margin: 0;
}

h1 {
  color: #363a40;
  font-size: 175%;
}

.navbar {
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.nav {
  padding-top: 4px;
  padding-bottom: 4px;
}

.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  min-height: 15px;
  border-top: 1px solid #ccc;
}

.initial-number {
  padding: 2px 5px;
  margin: 5px;
  border-radius: 8px;
  color: white;
  border: rgb(110, 138, 180);
  background-color: rgb(110, 138, 180);
  font-size: large;
  border-style: solid;
}

.errors {
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  list-style: none;
  background: #fcd2d9;
  border-radius: 4px;
  border-top: 0;
  color: #8d7575;
  height: fit-content;
}

.success {
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  list-style: none;
  background: greenyellow;
  border-radius: 4px;
  border-top: 0;
  color: darkcyan;
  height: fit-content;
}

.register-block {
  margin-top: 3em;
}

.highlight-link {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

#mainblock {
  /* Add top spacing so content isn't hidden behind the fixed-top navbar */
  margin-top: 100px;
  margin-bottom: 175px;
}

#footer-text {
  display: inline-block;
}

#school-logo-right {
  float: right;
}

#school-logo-left {
  float: left;
}

#studentdataform, #companydataform, #infoform {
  padding-left: 15px;
  padding-right: 6em;
}

label {
  color: #5f6988;
  margin-bottom: 3px;
  display: block;
  font-weight: 400;
}

input,
textarea,
select {
  padding: 10px 13px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  transition: all .3s ease-out;
  outline-color: transparent;
  outline-style: none;
}


input[type="text"]:hover,
textarea:hover,
select:hover {
  border-color: lightgray;
  background: #e1eaf5;
}

input[type="text"]:focus,
textarea:focus {
  background: white;
  box-shadow: unset;
}

input[type="submit"],
button {
  background: #5eb9d7;
  color: white;
  border-radius: 2px;
  font-weight: 400;
  border: 1px solid #5eb9d7;
  transition: all .3s ease-out;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  background: white;
  color: #5eb9d7;
}