body {
  background: rgb(248, 248, 219);
  font-family: "Noto Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

h1 {
  color: #363a40;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background: #edf2f8;
    padding: 15px;
    box-sizing: border-box;
    min-height: 15px;
}

.initial-number {
  padding: 2px 5px;
  margin: 5px;
  border-radius:8px;
  color: white;
  border: rgb(110, 138, 180);
  background-color: rgb(110, 138, 180);
  font-size: large;
  border-style: solid;
}

.errors {
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    list-style: none;
    background: #fcd2d9;
    border-radius: 4px;
    border-top: 0;
    color: #8d7575;
    height: fit-content;
}

.success {
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  list-style: none;
  background: greenyellow;
  border-radius: 4px;
  border-top: 0;
  color: darkcyan;
  height: fit-content;
}

.register-block {
  margin-top: 3em;
}

.highlight-link {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

#mainblock {
  margin-top: 50px;
  margin-bottom: 250px;
}

#footer-text{
  display: inline-block; 
}

#school-logo-right {
  float: right;  
}

#school-logo-left {
  float: left;  
}

label {
  color: #5f6988;
  margin-bottom: 3px;
  display: block;
  font-weight: 400;
}

input, textarea, select {
  padding: 10px 13px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  transition: all .3s ease-out;
  outline-color: transparent;
  outline-style: none;
}


input[type="text"]:hover,
textarea:hover,
select:hover {
  border-color: lightgray;
  background: #e1eaf5;
}

input[type="text"]:focus,
textarea:focus {
  background: white;
  box-shadow: unset;
}

input[type="submit"],
button {
  background: #5eb9d7;
  color: white;
  border-radius: 2px;
  font-weight: 400;
  border: 1px solid #5eb9d7;
  transition: all .3s ease-out;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  background: white;
  color: #5eb9d7;
}
