{% extends 'templates/layout.html' %}

{% block title %}Ansprechpartner(innen){% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Ansprechpartner/innen</h1>
  </div>
  <div>

    <h4>Ansprechpartner BBS Brinkstraße</h4>
    <address>
      <strong>Andreas Böhne</strong><br>
      Telefon: 0541 98223 606<br>
      E-Mail: <a href="mailto:boehne@bbs-os-brinkstr.de">boehne@bbs-os-brinkstr.de</a>
    </address>

    <address>
      <strong>Günter Willmann</strong><br>
      Telefon: 0541 98223 602<br>
      E-Mail: <a href="mailto:willmann@bbs-os-brinkstr.de">willmann@bbs-os-brinkstr.de</a>
    </address>

    <address>
      <strong>Stefan Sayk</strong><br>
      Telefon: 0541 98223 0<br>
      E-Mail: <a href="mailto:sayk@bbs-os-brinkstr.de">sayk@bbs-os-brinkstr.de</a>
    </address>

    <address>
      <strong>Christian Wichmann</strong><br>
      Telefon: 0541 98223 0<br>
      E-Mail: <a href="mailto:wichmann@bbs-os-brinkstr.de">wichmann@bbs-os-brinkstr.de</a>
    </address>

  </div>

</div>

{% endblock %}