{% extends 'templates/layout.html' %}

{% block title %}Impressum{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Impressum</h1>
  </div>
  <div>
    <h4><span>Impressum</span></h4>
    <p>Berufsbildende Schulen des Landkreises Osnabrück<br> Brinkstraße 17<br> 49080 Osnabrück<br><br> Telefon: 0541
      982230<br> Telefax: 0541 98223999<br> eMail: sekretariat@bbs-os-brinkstr.de</p>
    <p>Ansprechpartner:<br> Herr Martin Henke (Schulleiter)<br> Herr Dr. Frank Baller (Stellvertretender Schulleiter)
    </p>
    <p><strong>Haftungsausschluss/Disclaimer</strong><br> Wir haben keine der Seiten, die zu unseren Internetseiten
      linken, überprüft und sind nicht verantwortlich für Inhalte fremder Seiten, die zu unseren Internetseiten linken
      oder zu denen wir einen Link eingerichtet haben. Ebenso verhält es sich mit den Seiten, die Informationen von
      unseren Seiten kopiert haben. Auch für diese Seiten sind wir in keiner Weise verantwortlich.</p>
    <p>Zusätzlich bedeutet ein Link (Hyperlink) oder andere Verbindung von einer unserer Internetseiten zu einer fremden
      Internetseite nicht, daß wir den Inhalt dieser Seite billigen oder akzeptieren, noch, daß wir irgendeine
      Verantwortlichkeit für den Inhalt oder die Benutzung dieser Seite tragen. Es ist des Anwenders Verantwortung
      sicherzustellen, daß jeder gewählte Inhalt frei von Viren oder ähnlichem ist.</p>
    <p>Wichtiger Hinweis zu allen Links auf dieser Homepage: Mit Urteil vom 12. Mai 1998 - 312 O 85/98 - "Haftung für
      Links" hat das Landgericht Hamburg entschieden, daß man durch die Anbringung eines Links die Inhalte der gelinkten
      Seite ggf. mit zu verantworten hat. Dies kann nur dadurch verhindert werden, daß man sich ausdrücklich von diesen
      Inhalten distanziert. "Hiermit distanzieren wir uns ausdrücklich von allen Inhalten aller gelinkten Seiten auf
      unserer Homepage und machen uns diese Inhalte nicht zu eigen. Diese Erklärung gilt für alle angebrachten Links auf
      unserer Homepage und auch für alle Links des Bannerexchanges."</p>
    <p>Die Informationen auf unseren Seiten werden ohne Gewähr zusammengestellt - wir bemühen uns, sie auf dem neusten
      Stand zu halten, dennoch kann es sein, daß Informationen veraltet, unvollständig oder falsch sind. Insbesondere
      übernehmen wir keine Haftung für mittelbare oder unmittelbar verursachte Schäden.</p>
    <p>Wenn Sie Anregungen, Kommentare oder Hinweise haben, können uns gerne eine Email schicken.</p>
  </div>

</div>

</div>

{% endblock %}