{% extends 'templates/layout.html' %}

{% block title %}Informationen zur Excellence Initiative Industrie 4.0{% endblock %}

{% block content %}
        <div class="container">
            <div class="page-header">
                <h1>Informationen zur Excellence Initiative 2021</h1>
            </div>
           <p><strong>Projektaufgabe:</strong> Weiterentwicklung einer Smart Factory und Abbildung der wesentliche Prinzipien des Produktionsprozesses mit einem Projektmanagement nach dem Kanban-Prinzip</p>
           <p><strong>Zeitraum:</strong> Februar bis Juni 2022</p>

          <div class="row">
            <div class="col-sm-6">
              <div class="card bg-light border-secondary">
                <div class="card-body">
                    <h4 class="card-title">Ziele</h4>
                  <ul>
                    <li>Förderung grundlegender Kompetenzen (z.B. Lernbereitschaft, Selbstständigkeit, Problemlösekompetenz, interdisziplinäre Teamarbeit)</li>
                    <li >Förderung leistungsbereiter Auszubildender</li>
                    <li >Erweiterung der Kompetenzen im Bereich der Automatisierungstechnik und Informationstechnik</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card bg-light border-secondary">
                <div class="card-body">
                    <h4 class="card-title">Handlungsbereiche und Themenbereiche</h4>
                  <ul>
                    <li>Programmierung von Automatisierungssystemen</li>
               <li>Anbindung von Automatisierungssystemen an MES- bzw. ERP-Systeme</li>
               <li>Entwicklung und Einbindung von Web-Services und Apps</li>
               <li>Aufbau, Konfiguration und Monitoring sicherer Netzwerke</li>
               <li>Inbetriebnahme und Integration eines kollaborativen Roboters</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="card bg-light border-secondary">
                <div class="card-body">
                    <h4 class="card-title">Organisatorische Rahmenbedingungen</h4>
                  <ul>
                    <li>Starttermin: voraussichtlich Montag, 07. Februar 2022</li>
               <li>Weitere Termine: Die Bearbeitung der Projektthemen in der Berufsschule findet einmal wöchentlich statt (z.B. 8 Stunden an einem Montag). Bis Mitte Juni stehen 15 Termine zur Verfügung.</li>
               <li>Betreuung: Herr Sayk und Herr Wichmann</li>
               <li>Teilnehmerzahl: max. 16 Schülerinnen und Schüler</li>
               <li>Abschlusspräsentation: voraussichtlich am Samstag, 18. Juni 2022</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Zielgruppen</h4>
                  <ul>
                    <li>Fachinformatiker, Mechatroniker, Elektroniker im zweiten und dritten Ausbildungsjahr</li>
                    <li>Voraussetzung: Zustimmung des Ausbildungsbetriebs sowie Bereitschaft zum selbständigen Arbeiten und Lernen</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="card bg-light border-secondary">
                <div class="card-body">
                    <h4 class="card-title">Ergebnisse</h4>
                    <p class="card-text">Die Ergebnisse werden im Rahmen einer Veranstaltung, zu der auch die beteiligten Ausbildungsbetriebe eingeladen werden, präsentiert. Außerdem erstellen wir Lern­videos, die anschließend auf YouTube allen Interessierten zur Verfügung gestellt wer­den. Alle bisher erstellten Videos finden Sie auf Youtube.</p>
                    <a target="_blank" href="https://www.youtube.com/channel/UCqYoKSk15FAgnAboGUXaIlQ" class="btn btn-primary">YouTube</a>
                </div>
              </div>
            </div>
          </div>
          <p></p>
           <p><a href="register"><button type="button" class="btn btn-lg btn-success">Zur Anmeldung</button></a></p>
        </div>

{% endblock %}
