{% extends 'templates/layout.html' %}

{% block title %}Informationen zur Excellence Initiative Industrie 4.0{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Informationen zur Excellence Initiative 2025</h1>
  </div>
  <h4><strong>Projektaufgabe:</strong> Weiterentwicklung einer Smart Factory und Abbildung der wesentliche Prinzipien
    des Produktionsprozesses mit einem Projektmanagement nach dem Kanban-Prinzip</h4>
  <h4><strong>Zeitraum:</strong> Februar bis Mai 2025</h4>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h4 class="card-title">Ziele</h4>
          <ul>
            <li>Förderung grundlegender Kompetenzen (z.B. Lernbereitschaft, Selbstständigkeit, Problemlösekompetenz,
              interdisziplinäre Teamarbeit)</li>
            <li>Förderung leistungsbereiter Auszubildender</li>
            <li>Erweiterung der Kompetenzen im Bereich der Automatisierungstechnik und der Informationstechnik unter
              Berücksichtigung der Analyse und Organisation von Geschäftsprozessen</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h4 class="card-title">Handlungsbereiche und Themenbereiche</h4>
          <ul>
            <li>Programmierung von Automatisierungssystemen</li>
            <li>Anbindung von Automatisierungssystemen an MES- bzw. ERP-Systeme</li>
            <li>Entwicklung und Einbindung von Web-Services und Apps</li>
            <li>Aufbau, Konfiguration und Monitoring sicherer Netzwerke</li>
            <li>Inbetriebnahme und Integration eines kollaborativen Roboters</li>
            <li>Anbindung von Automatisierungssystemen an die Cloud</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h4 class="card-title">Organisatorische Rahmenbedingungen</h4>
          <ul>
            <li><em>Starttermin:</em> voraussichtlich <time datetime="2025-02-10">Montag, 10. Februar 2025</time></li>
            <li><em>Weitere Termine:</em> Die Bearbeitung der Projektthemen in der Berufsschule findet einmal
              wöchentlich statt (z.B. 8 Stunden an einem Montag). Bis Ende Mai stehen 12 Termine zur Verfügung.</li>
            <li><em>Betreuung:</em> Herr Sayk und Herr Wichmann</li>
            <li><em>Teilnehmerzahl:</em> max. 16 Schülerinnen und Schüler</li>
            <li><em>Abschlusspräsentation:</em> voraussichtlich am <time datetime="2025-05-24">Samstag, 24. Mai
                2025</time></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h4 class="card-title">Zielgruppen</h4>
          <ul>
            <li>Fachinformatiker/innen im zweiten Ausbildungsjahr</li>
            <li>Mechatroniker/innen im zweiten und dritten Ausbildungsjahr</li>
            <li>Elektroniker/innen im zweiten und dritten Ausbildungsjahr</li>
            <li><em>Voraussetzung: </em> Zustimmung des Ausbildungsbetriebs sowie Bereitschaft zum selbständigen
              Arbeiten und Lernen</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h4 class="card-title">Ergebnisse</h4>
          <p class="card-text">Die Ergebnisse werden im Rahmen einer Veranstaltung, zu der auch die beteiligten
            Ausbildungsbetriebe eingeladen werden, präsentiert. Außerdem erstellen wir Lernvideos, die anschließend auf
            YouTube allen Interessierten zur Verfügung gestellt werden. Alle bisher erstellten Videos finden Sie auf
            Youtube.</p>
          <a target="_blank" href="https://www.youtube.com/@BbsTvOs/videos" class="btn btn-primary">YouTube</a>
        </div>
      </div>
    </div>
  </div>
  {% if config['ENLIST_OPEN'] %}
  <div class="register-block">
    <h4>Anmeldung bis spätestens <time datetime="2025-01-17">17. Januar 2025</time>!</h4>
    <p><a href="register"><button type="button" class="btn btn-success">Zur Anmeldung</button></a></p>
    {% endif %}
  </div>
</div>

{% endblock %}