{% extends 'templates/layout.html' %}

{% block title %}Bestätigung Auszubildende(r){% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Bestätigung Auszubildende(r)</h1>
        </div>
        <p>Hiermit haben Sie Ihre Email-Adresse bestätigt!</p>
        <p>Als nächstes bekommt Ihre Ausbilderin bzw. Ihr Ausbilder eine Email
        zugeschickt, in der er bzw. sie die Anmeldung bestätigen muss. Dazu muss
        in der betreffenden Email nur auf den Link geklickt werden.</p>
    </div>
{% endblock %}
