{% extends 'templates/layout.html' %}

{% block title %}Bestätigung Auszubildende(r){% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
      <h1>Bestätigung Auszubildende(r)</h1>
  </div>
    {% if not student_validation or not trainer_validation %}
      <div class="errors">
        <h3>Problem!</h3>
        <p>Es wurde keine gültige Schüler-ID angegeben!</p>
      </div>
    {% else %}
      <div class="success">
        <h3>Erfolg!</h3>
        <p>Sie haben sich erfolgreich angemeldet für die Excellence Initiative 2021 der Berufsbildenden Schulen Brinkstraße!</p>
      </div>
      <p>1. Anmeldung zur Excellence Initiative 2021 wurde gespeichert.</p>
      <div class="panel panel-default">
          <div class="panel-heading">Gespeicherte Informationen</div>
          <div class="panel-body">
              <ul id="participant">
                  <li>
                    <span class="field-name">Name :</span>
                    <span class="field-value">{{ participant.username }}</span>
                  </li>
                  <li>
                    <span class="field-name">Klasse:</span>
                    <span class="field-value">{{ participant.classname }}</span>
                  </li>
                  <li>
                    <span class="field-name">Email-Adresse Auszubildende(r):</span>
                    <span class="field-value">{{ participant.email_student }}</span>
                  </li>
                  <li>
                    <span class="field-name">Name des Ausbildungsbetriebs:</span>
                    <span class="field-value">{{ participant.company_name }}</span>
                  </li>
                  <li>
                    <span class="field-name">Name der Ausbilderin bzw. des Ausbilders:</span>
                    <span class="field-value">{{ participant.trainer_name }}</span>
                  </li>
                  <li>
                    <span class="field-name">Email-Adresse Ausbilder(in):</span>
                    <span class="field-value">{{ participant.email_trainer }}</span>
                  </li>
                </ul>
          </div>
        </div>

      <p>2. Bitte kopieren Sie sich den folgenden Link: <a href="{{url_for('validate_student', _external=True, student=student_validation)}}">{{url_for('validate_student', _external=True, student=student_validation)}}</a>.
      Damit können Sie später wieder auf Ihre gespeicherten Daten zugreifen, sich abmelden oder die Bestätigungsmail noch einmal senden.</p>
      <p>3. Als nächstes bekommen Sie eine Email mit einem Bestätigungslink, den Sie anklicken müssen, um die Email-Adresse zu bestätigen.</p>
      <p>4. Danach bekommt Ihre Ausbilderin bzw. Ihr Ausbilder eine Email, in der die Teilnahme bestätigt werden muss.</p>
      <div>
        <a target="_blank" href="{{url_for('send_mail_again', student=student_validation)}}"><button type="button" class="btn btn-warning">Weitere Bestätigungsmail schicken</button></a>
        <a target="_blank" href="{{url_for('delete_registration', student=student_validation)}}"><button type="button" class="btn btn-danger">Anmeldung löschen</button></a>
      </div>
    {% endif %}
</div>
{% endblock %}
