{% extends 'templates/layout.html' %}

{% block title %}Bestätigung Ausbilder(in){% endblock %}


{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Bestätigung Ausbilder(in)</h1>
    </div>
    {% if not student_validation or not trainer_validation %}
    <div class="errors">
        <h5>Problem!</h5>
        <p>Es wurde keine gültige Ausbilder-ID angegeben!</p>
    </div>
    {% else %}
    <h5>Erfolg!</h5>
    <p>Hiermit haben Sie bestätigt, dass die/der Auszubildende {{username}} an der Excellence Initiative 2026 der
        Berufsbildenden Schulen Brinkstraße teilnehmen darf!</p>
    {% endif %}
</div>
{% endblock %}